services:
  vllm-test:
    image: nvidia-vllm:25.12-py3
    container_name: vllm-test
    networks:
      - proxy
    extra_hosts:
      - host.docker.internal:host-gateway
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.vllm.entrypoints=web,websecure"
      - "traefik.http.routers.vllm.service=vllm"
      - "traefik.http.routers.vllm.tls=true"
      - "traefik.http.routers.vllm.rule=Host(`vllm.192.168.42.111.traefik.me`)"
      - "traefik.http.services.vllm.loadbalancer.server.port=8000"
      - "homepage.group=AI Services"
      - "homepage.name=vLLM"
      - "homepage.icon=sh-vllm"
      - "homepage.href=https://vllm.192.168.42.111.traefik.me"
      - "homepage.description=VLLM Single Model Interface"
    expose:
      - 8000
    volumes:
      - /etc/ssl/certs/:/etc/ssl/certs/:ro
      - /opt/workdir/vllm-cache:/vllm-cache
    environment:
      - HF_HOME=/vllm-cache/huggingface
      - XDG_CONFIG_HOME=/vllm-cache/vllm
      - XDG_CACHE_HOME=/vllm-cache
      - TORCHINDUCTOR_CACHE_DIR=/vllm-cache/torchinductor
      - TIKTOKEN_RS_CACHE_DIR=/vllm-cache/tiktoken 
      - TIKTOKEN_ENCODINGS_BASE=/vllm-cache/tiktoken-encodings
      - HOME=/app
      - USER=app
    command: ["vllm", "serve", "Qwen/Qwen2.5-1.5B-Instruct", "--served-model-name", "Qwen2.5-1.5B-Instruct-test"]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    restart: unless-stopped
    runtime: nvidia
    ipc: host
    ulimits:
      memlock: -1
      stack: 67108864

networks:
  proxy:
    name: proxy
    external: true # enable if the network is not defined in this stack
